@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Rubik';
}

#upperHalf {
  background-image: url("./images/pattern-bg.png");
  background-size: 100% 100%;
  height: 35vh;
}

h1 {
  font-size: xx-large;
  text-align: center;
  color: white;
  padding-top: 5vh;
}

input {
  background-color: white;
  padding: 15px 15px 15px 25px;
  border-radius: 10px 0px 0px 10px;
  width: 30vw;
}

button {
  background-color: hsl(0, 0%, 17%);
  padding: 15px 15px 15px 15px;
  border-radius: 0px 10px 10px 0px;
}

button:hover {
  cursor: pointer;
  background-color: grey;
}

#search {
  text-align: center;
  padding-top: 4vh;
}

#osoitetiedot {
  background-color: white;
  padding: 40px 0px 40px 0px;
  border-radius: 20px 20px 20px 20px;
  z-index: 1000;
  position: relative;
  width: 70vw;
  margin: 6vh auto auto auto;
  text-align: center;
}

.ipInfoDivMid {
  display: inline-block;
  height: 80px;
  width: 22%;
  padding-left: 3%;
  border-style: solid;
  border-width: 1px;
  border-color: white white white black;
  text-align: left;
  vertical-align: top;
}

#ipInfoDivLeft {
  display: inline-block;
  height: 80px;
  width: 22%;
  padding-left: 3%;
  text-align: left;
  vertical-align: top;
}

#ipInfoDivRight {
  display: inline-block;
  height: 80px;
  width: 21%;
  padding-left: 3%;
  border-width: 1px;
  border-style: solid;
  border-color: white white white black;
  text-align: left;
  vertical-align: top;
}

.infoOtsikko {
  color: hsl(0, 0%, 59%);
  font-weight: 700;
}

.infoSisalto {
  font-weight: 700;
  font-size: x-large;
}